@import url(header.css);
@import url(banner.css);
@import url(skills.css);
@import url(project.css);
@import url(footer.css);
html {
    scroll-behavior: smooth; 
}
body{
    background-color: #13131F;
    
     overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
    height: 100vw;
    justify-content: center;
   
        
    }


    main{
        
        display: flex;
        align-self: center;
        padding: 0 3%;
        background-color: #13131F;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: hidden;
    }

    .hidden {
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 1s ease-out, transform 0.6s ease-out;
    }

    @media (max-width: 1024px) {
        .hidden{
            transform: translateX(0);
        }
        }
    
    .visible {
        opacity: 1;
        transform: translateX(0); 
    }


  